
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
/****************************************/
.star-rating{
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    background-color: #333333;
}
.star-rating div{
    float: left;
    width: 50%;
}
.stars .fa{
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.stars .fa.active{
    color: yellow;
    text-shadow: 0 0 5px yellow
}
.print{
    color: white;
    text-align: center;
}